{% extends "GestionPfeBundle:Default:indexAdmin.html.twig" %}



{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="tabbable-line">
                <ul class="nav customtab nav-tabs" role="tablist">
                    <li class="nav-item"><a href="#tab1" class="nav-link active"  data-toggle="tab" >List View</a></li>
                    <li class="nav-item"><a href="#tab2" class="nav-link" data-toggle="tab">Calandar View</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active fontawesome-demo" id="tab1">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card card-box">
                                    <div class="card-head">
                                        <header>All Students List</header>
                                        <div class="tools">
                                            <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                                            <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                                            <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                                        </div>
                                    </div>
                                    <div class="card-body ">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6 col-6">
                                                <div class="btn-group pull-right">
                                                    <a class="btn deepPink-bgcolor  btn-outline dropdown-toggle" data-toggle="dropdown">Tools
                                                        <i class="fa fa-angle-down"></i>
                                                    </a>
                                                    <ul class="dropdown-menu pull-right">
                                                        <li>
                                                            <a href="javascript:;">
                                                                <i class="fa fa-print"></i> Print </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;">
                                                                <i class="fa fa-file-pdf-o"></i> Save as PDF </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;">
                                                                <i class="fa fa-file-excel-o"></i> Export to Excel </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-scrollable">
                                            <table class="table table-striped table-bordered table-hover table-checkable order-column valign-middle" id="example4">
                                                <thead>
                                                <tr>
                                                    <th> No</th>
                                                    <th> Nom Etudiant </th>
                                                    <th> Prenom Etudiant  </th>
                                                    <th> Email </th>
                                                    <th> Encadrant </th>
                                                    <th> Etat </th>
                                                    <th> Action </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% set i =0 %}
                                                {% for soutenance in soutenances %}
                                                {% if soutenance.EtatDemandeSoutenance is null and soutenance.type is null  %}

                                                <tr class="odd gradeX" id="r{{ soutenance.id }}">

                                                    <td>{% set i=i+1 %} {{ i }} </td>
                                                    <td>{{ soutenance.idUser.nom }}</td>
                                                    <td>{{ soutenance.idUser.prenom }}</td>
                                                    <td> {{ soutenance.idUser.email }}</td>
                                                    <td>{% for stage in stages %}
                                                    {% if stage.idEtudiant == soutenance.idUser %}
                                                        <input hidden id="{{ i }}" value="{{ stage.idEncadrant.id }}">
                                                         {{ stage.idEncadrant.nom }}
                                                         {{ stage.idEncadrant.prenom }}
                                                        {% endif %}
                                                        {% endfor %}
                                                    </td>
                                                    <td>rien fait </td>
                                                    <td>
                                                        <a onclick="jurie({{ soutenance.id }},{{ i }});" class="btn btn-primary btn-xs">
                                                            <i class="fa fa-plus-square"></i>
                                                        </a>

                                                    </td>

                                                </tr>
                                                {% endif %}
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab2">


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Large modal -->

<style>
    .fade.in {
        opacity: 1;
    }
    .modal-open .modal {
        overflow-x: hidden;
        overflow-y: auto;
    }
    .fade {
        opacity: 0;
        -webkit-transition: opacity .15s linear;
        -o-transition: opacity .15s linear;
        transition: opacity .15s linear;
    }
    .modal {
        position: fixed;
        top: 10%;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1050;
        display: none;
        overflow: hidden;
        -webkit-overflow-scrolling: touch;
        outline: 0;
    }
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    #body-modal {
        font-family: "Arial Black",Helvetica,Arial,sans-serif;
        font-size: 14px;
        line-height: 1.42857143;
        color: #1a237e;
        background-color: #1a237e;
    }
</style>
    <div class="modal" id="modal-display" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div id="body-modal"  class="modal-dialog" role="document">
            <div class="modal-content">
                <div  class="modal-header bg-info text-blue">
                    <h5 class="modal-title" id="exampleModalLabel">Affecter une  soutenance technique</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row col-md-6">

                        <div class="form-control-wrapper">
                            <label for="exampleInputUsername">Entrer  la date de validation technique</label>
                            <input type="text" id="date-fr" value="" placeholder="Date" style="margin-bottom: 10px">
                        </div>
                        <div >
                            <label for="exampleInputUsername">Affecter un jury</label>
                        <select id="selectElementId" style="margin-bottom: 10px">

                        </select>
                        </div>
                        <div>
                            <label for="exampleInputUsername">Affecter une salle</label>
                            <select id="salle">
                                <option value="c01">
                                    c01
                                </option>
                                <option value="c02">
                                    c02
                                </option>
                                <option value="c03">
                                    c03
                                </option>
                                <option value="c04">
                                    c04
                                </option>
                                <option value="c05">
                                    c05
                                </option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-sm-6 text-left">
                            <button type="button" class="btn btn-primary" onclick="affecterTechnique()" >Enregister </button>
                        </div>
                        <div class="col-sm-6 text-right">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closee();">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var idSoutenance=0;
        var idaffectation=0;
        var idEncadrant=-1;
        var  select = document.getElementById('selectElementId');
        function removeOptions(selectbox)
        {
            var i;
            for(i = selectbox.options.length - 1 ; i >= 0 ; i--)
            {
                selectbox.remove(i);
            }
        }
            var idP=0;
        function jurie(id,i) {
            removeOptions(select);

            $("#modal-display").modal('show');
            idSoutenance=id;
            idEncadrant=$("#"+i+"").val();
            {% for p in profs %}
             idP={{ p.id }};
            var nomP="{{ p.nom }}"+" {{ p.prenom }}";
            if(idP!=idEncadrant)
            {
                var opt = document.createElement('option');
                opt.value = nomP;
                opt.innerHTML = nomP;
                opt.setAttribute('id',idP)
                select.appendChild(opt);
            }
            {% endfor %}

        }

        function affecterTechnique() {




            $('#modal-display').modal('hide');
            obj = new Object();

            obj['ids'] = idSoutenance;
            obj['jury']=$('#selectElementId').find(":selected").attr('id');
            obj['salle']=$('#salle').find(":selected").val();

            obj['date']=$('#date-fr').val();


            $.ajax({
                type: "POST",
                url: "{{ path('_ajouter_soutenance') }}",
                data: obj,
                dataType: "json",
                success: function (response) {

                }


            });
                alert("success");

        }






    </script>

    <title>Smart University | Bootstrap Responsive Admin Template</title>
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css" />
    <!-- icons -->
    <link href="../assets/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!--bootstrap -->
    <link href="../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- full calendar -->
    <link href="../assets/plugins/fullcalendar/fullcalendar.css" rel="stylesheet" type="text/css" />
    <!-- Material Design Lite CSS -->
    <link rel="stylesheet" href="../assets/plugins/material/material.min.css">
    <link rel="stylesheet" href="../assets/css/material_style.css">
    <!-- Theme Styles -->
    <link href="../assets/css/theme/dark/theme_style.css" rel="stylesheet" id="rt_style_components" type="text/css" />
    <link href="../assets/css/theme/dark/style.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/responsive.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/theme/dark/theme-color.css" rel="stylesheet" type="text/css" />
    <!-- favicon -->
    <link rel="shortcut icon" href="http://radixtouch.in/smart/source/assets/img/favicon.ico" />
    <!-- start js include path -->
    <script src="../assets/plugins/jquery/jquery.min.js" ></script>
    <script src="../assets/plugins/popper/popper.js" ></script>
    <script src="../assets/plugins/jquery-blockui/jquery.blockui.min.js" ></script>
    <script src="../assets/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
    <script src="../assets/plugins/jquery-ui/jquery-ui.min.js" ></script>
    <!-- bootstrap -->
    <script src="../assets/plugins/bootstrap/js/bootstrap.min.js" ></script>
    <script src="../assets/plugins/bootstrap-switch/js/bootstrap-switch.min.js" ></script>
    <!-- calendar -->
    <script src="../assets/plugins/moment/moment.min.js" ></script>
    <script src="../assets/plugins/fullcalendar/fullcalendar.min.js" ></script>
    <script src="../assets/js/pages/calendar/calendar.min.js" ></script>
    <!-- Common js-->
    <script src="../assets/js/app.js" ></script>
    <script src="../assets/js/layout.js" ></script>
    <script src="../assets/js/theme-color.js" ></script>
    <!-- Material -->
    <script src="../assets/plugins/material/material.min.js"></script>
    <!-- end js include path -->

{% endblock %}
