{% extends 'GestionPfeBundle::layout.html.twig' %}
{% block title %}
    <title>
        PFE
    </title>
    {% endblock title %}

{% block body %}
    <div class="container">

    </div>
    <section class="main-bannerarea-full">
        <!-- Banner slide -->
        <div class="main-banner-area owl-carousel">
            <!-- Single banner -->
            <div class="single-banner">
                <!-- Banner image -->
                <div class="itembg">
                    <img src="{{ asset('Client/img/banner/01.jpg') }}" alt="">
                </div>
                <div class="single-banner-middle">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="single-banner-content">
                                    <h1>Le Bon <span>Sujet PFE</span> est Facile à trouver</h1>
                                    <p>Trouver un stage innovant pour votre PFE, c'est ici que ça se passe! </p>
                                    <a href="#" class="theme-btn hvr-shutter-in-horizontal">Plus de details</a>
                                    <a href="#" class="theme-btn hvr-shutter-in-horizontal">Contactez nous</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- // End Single banner -->
            <!-- Single banner -->
            <div class="single-banner">
                <!-- Banner image -->
                <div class="itembg">
                    <img src="{{ asset('Client/img/banner/02.jpg') }}" alt="">
                </div>
                <div class="single-banner-middle">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="single-banner-content">
                                    <h1>La tâche <span>D'encadrement</span> devient plus facile</h1>
                                    <p>La gestion des PFE devient plus facile pour tout étudiant, enseignant et même administration </p>
                                    <a href="#" class="theme-btn hvr-shutter-in-horizontal">Plus de details</a>
                                    <a href="#" class="theme-btn hvr-shutter-in-horizontal">Contactez nous</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- // End Single banner -->
            <!-- Single banner -->
            <div class="single-banner">
                <!-- Banner image -->
                <div class="itembg">
                    <img src="{{ asset('Client/img/banner/03.jpg') }}" alt="">
                </div>
                <div class="single-banner-middle">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="single-banner-content">
                                    <h1>Les tâches <span>Administratives</span> Prennent moins de temps</h1>
                                    <p>La gestion des PFE devient plus facile pour tout étudiant, enseignant et même administration </p>
                                    <a href="#" class="theme-btn hvr-shutter-in-horizontal">Plus de details</a>
                                    <a href="#" class="theme-btn hvr-shutter-in-horizontal">Contactez nous</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- // End Single banner -->
        </div><!-- // End Banner slide -->
        <!-- Banner dots -->
        <div class="banner-dots-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="banner-dots"></div>
                    </div>
                </div>
            </div>
        </div><!-- // End Banner dots -->
    </section><!-- // End Main banner area -->

    <div class="about-us-area section-padding">
        <!-- About Us content -->
        <div class="all-about-content">
            <!-- Section Title -->
            <div class="section-title">
                <h2>Bienvenue à PFE Care</h2>
                <p>Pour la bonne gestion des sujets PFE</p>
            </div>
            <!-- About Single Content -->
            <div class="single-content">
                <div class="dh-overlay"></div>
                <div class="about-content">
                    <h3><i class="fa fa-pencil-square" aria-hidden="true"></i> La Recherche d'une offre</h3>
                    <p>Ce site offre au étudiants d'esprit une variations des stages propsées par plusieurs entreprises bien connues </p>
                    <p>De plus, l'étudiant trouve les sujets selon ses propres compétences techniques</p>
                </div>
            </div>
            <!-- About Single Content -->
            <div class="single-content">
                <div class="dh-overlay"></div>
                <div class="about-content">
                    <h3><i class="fa fa-pencil-square" aria-hidden="true"></i> La postulation pour une offre</h3>
                    <p>Ce que ce site ajout, c'est la facilité de postulation dans une offre, la tache devient numérisée de 'a' jusqu'au 'z'</p>
                    <p>on offre une fluidité entre l'étudiant et l'entrprise </p>
                </div>
            </div>
            <!-- About Single Content -->
            <div class="single-content">
                <div class="dh-overlay"></div>
                <div class="about-content">
                    <h3><i class="fa fa-pencil-square" aria-hidden="true"></i> Un Profil détaillé</h3>
                    <p>Nous offrons la possibilité de modifier votre profil et insérer votre propre CV dynamique qui inclut tous vos compétences techniques</p>
                    <p>Un CV qui sera envoyé directement à chaque fois que vous postuler pour une offre</p>
                </div>
            </div>
            <!-- About Single Content -->
            <div class="single-content">
                <div class="dh-overlay"></div>
                <div class="about-content">
                    <h3><i class="fa fa-pencil-square" aria-hidden="true"></i> L'encadrement pas par pas</h3>
                    <p>nous offrons pour nos étudiants la possibilité d'etre pas par pas avec l'encadrant dans n'importe quel moment</p>
                    <p>Un suivi en ligne et une gestion des taches et reunions entre l'encadrant et l'étudiant est un point fort!</p>
                </div>
            </div>
            <!-- About Single Content -->
            <div class="single-content">
                <div class="dh-overlay"></div>
                <div class="about-content">
                    <h3><i class="fa fa-pencil-square" aria-hidden="true"></i> La soutenance par details</h3>
                    <p>Bien organiser sa soutenance après avoir terminer son travail est un point important.</p>
                    <p>Restez en contacte avec l'administration pour changer n'importante quel detail à propos de ceci.</p>
                </div>
            </div>
            <!-- About Single Content -->
            <div class="single-content">
                <div class="dh-overlay"></div>
                <div class="about-content">
                    <h3><i class="fa fa-pencil-square" aria-hidden="true"></i> Reclamez à tout moment</h3>
                    <p>Un problème est survenu ? Le service reclamation est là pour vous aider</p>
                    <p>toute réclamation sera traitée sans aucun problème.</p>
                </div>
            </div>
        </div>
        <!-- About Us image -->
        <div class="about-img jarallax" style="background-image: url('{{ asset("Client/img/backgrounds/about-us.jpg") }}');"></div>
    </div><!-- // End About us area -->
    <!-- Cource search area -->
    <div class="course-search-area section-padding jarallax" style="background-image: url('{{ asset("Client/img/backgrounds/cource-search-bg.jpg") }}');">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <!-- Section Title -->
                    <div class="section-title alt-sec-title">
                        <h2>Espritiens, Trouvez le meilleur stage pour vous</h2>
                        <p>Lancez maintenant la recherche des offres proposées par les entreprises</p>
                    </div>
                    <!-- Courece Search form -->
                    <div class="cource-search-form">
                        <form action="#">
                            <input type="text" placeholder="course title | course keyword | course co-ordinator">
                            <button class="theme-btn-alt hvr-shutter-in-horizontal" type="submit">Search Course</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div><!-- // End Cource search area -->
    <!-- All cource area -->
    <div class="all-cource-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Section Title -->
                    <div class="section-title">
                        <h2>edu care courses</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lobortis iaculis convallis</p>
                    </div>
                </div>
            </div>
            <!-- All cource -->
            <div class="row">
                <!-- Single Couses -->
                <div class="col-md-4 col-sm-6">
                    <div class="single-cource">
                        <div class="course-header">
                            <img src="{{ asset('Client/img/cource/01.jpg') }}" alt="">
                            <div class="course-new">
                                New
                            </div>
                            <div class="course-title">
                                <h3><a href="courses-deatail.html">Basic of nature photography</a></h3>
                            </div>
                            <div class="course-price">
                                $149.99
                            </div>
                        </div>
                        <div class="course-content">
                            <div class="course-author">
                                <img src="{{ asset('Client/img/cource/course-author.jpg') }}" alt="">
                                <span><a href="teacher-detail.html">jonathan doe</a></span>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="course-time">
                                        Duration: <span>2 Years</span>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="course-time">
                                        Students: <span>50</span>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="course-time">
                                        Time: <span>9.00 - 12.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="course-info">
                                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 42
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="course-info">
                                        <i class="fa fa-comments" aria-hidden="true"></i> 62
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="course-info">
                                        <ul class="course-rating">
                                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="course-btn" id="post">
                                <a href="courses-deatail.html" class="theme-btn hvr-shutter-in-horizontal" >Learn more</a>
                                <a >
                                    <button id="postuler" class="theme-btn-alt hvr-shutter-in-horizontal" onclick="archiveFunction()">Postuler</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div><!-- // End Single Couses -->
                <!-- Single Couses -->
                <div class="col-md-4 col-sm-6">
                    <div class="single-cource">
                        <div class="course-header">
                            <img src="{{ asset('Client/img/cource/01.jpg') }}" alt="">
                            <div class="course-title">
                                <h3><a href="courses-deatail.html">Basic of nature photography</a></h3>
                            </div>
                            <div class="course-price">
                                $149.99
                            </div>
                        </div>
                        <div class="course-content">
                            <div class="course-author">
                                <img src="{{ asset('Client/img/cource/course-author.jpg') }}" alt="">
                                <span><a href="teacher-detail.html">jonathan doe</a></span>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="course-time">
                                        Duration: <span>2 Years</span>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="course-time">
                                        Students: <span>50</span>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="course-time">
                                        Time: <span>9.00 - 12.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="course-info">
                                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 42
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="course-info">
                                        <i class="fa fa-comments" aria-hidden="true"></i> 62
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="course-info">
                                        <ul class="course-rating">
                                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="course-btn">
                                <a href="courses-deatail.html" class="theme-btn hvr-shutter-in-horizontal">Learn more</a>
                                <a class="theme-btn-alt hvr-shutter-in-horizontal" href="#">Apply now</a>
                            </div>
                        </div>
                    </div>
                </div><!-- // End Single Couses -->
                            </div>
            <!-- Load more cource -->
            <div class="row">
                <div class="col-md-12">
                    <div class="load-more-cource text-center">
                        <a class="theme-btn hvr-shutter-in-horizontal" href="courses-one.html">Load more cource</a>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- // End All cource area -->
    <!-- Cource info area -->
    <div class="course-info-area section-padding jarallax" style="background-image: url('{{ asset("Client/img/backgrounds/cource-info.jpg") }}');">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <!-- Section Title -->
                    <div class="section-title alt-sec-title">
                        <h2>Quelques résultats importants</h2>
                        <p>Pour les étudiants d'Esprit, le parcours est toujours récompensé par le succès </p>
                    </div>
                </div>
            </div>
            <!-- All cource info -->
            <div class="row">
                <!-- Single cource info -->
                <div class="col-md-3 col-sm-6">
                    <div class="single-info-cource">
                        <span class="counter">200</span> +
                        <span class="info-title">Enseignants</span>
                    </div>
                </div>
                <!-- Single cource info -->
                <div class="col-md-3 col-sm-6">
                    <div class="single-info-cource">
                        <span class="counter">5000</span> +
                        <span class="info-title">Etudiants</span>
                    </div>
                </div>
                <!-- Single cource info -->
                <div class="col-md-3 col-sm-6">
                    <div class="single-info-cource">
                        <span class="counter">1000</span> +
                        <span class="info-title">Soutenances par an</span>
                    </div>
                </div>
                <!-- Single cource info -->
                <div class="col-md-3 col-sm-6">
                    <div class="single-info-cource">
                        <span class="counter">93.83</span> %
                        <span class="info-title">taux de réussite</span>
                    </div>
                </div>
            </div>
            <!-- Info button -->
            <div class="row">
                <div class="container">
                    <div class="col-md-12">
                        <div class="info-btn text-center">
                            <a class="theme-btn-alt hvr-shutter-in-horizontal" href="#">Faire un tour <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- // End Cource info area -->

    <!-- Professors area -->
    <div class="professors-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Section Title -->
                    <div class="section-title">
                        <h2>edu care’s all professors</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lobortis iaculis convallis</p>
                    </div>
                </div>
            </div>
            <!-- Professors -->
            <div class="row">
                <!-- Single professors -->
                <div class="col-md-3 col-sm-6">
                    <div class="single-professors">
                        <!-- Professors image -->
                        <div class="cource-img">
                            <img src="{{ asset('Client/img/professors/01.jpg') }}" alt="professors img">
                        </div>
                        <div class="professors-heading">
                            <h4>jonathan doe</h4>
                        </div>
                        <div class="professors-content-table">
                            <div class="professors-content">
                                <h4><a href="teacher-detail.html">jonathan doe</a></h4>
                                <span>assistant lecturer</span>
                                <span>dept of econimics </span>
                                <span>university of educare</span>
                                <!-- professors Social links -->
                                <ul class="professors-social">
                                    <li><a href="3.html"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="3.html"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="3.html"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                                    <li><a href="3.html"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single professors -->
                <div class="col-md-3 col-sm-6">
                    <div class="single-professors">
                        <!-- Professors image -->
                        <div class="cource-img">
                            <img src="{{ asset('Client/img/professors/02.jpg') }}" alt="professors img">
                        </div>
                        <div class="professors-heading">
                            <h4>jonathan doe</h4>
                        </div>
                        <div class="professors-content-table">
                            <div class="professors-content">
                                <h4><a href="teacher-detail.html">jonathan doe</a></h4>
                                <span>assistant lecturer</span>
                                <span>dept of econimics </span>
                                <span>university of educare</span>
                                <!-- professors Social links -->
                                <ul class="professors-social">
                                    <li><a href="3.html"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="3.html"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="3.html"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                                    <li><a href="3.html"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single professors -->
                <div class="col-md-3 col-sm-6">
                    <div class="single-professors">
                        <!-- Professors image -->
                        <div class="cource-img">
                            <img src="{{ asset('Client/img/professors/03.jpg') }}" alt="professors img">
                        </div>
                        <div class="professors-heading">
                            <h4>jonathan doe</h4>
                        </div>
                        <div class="professors-content-table">
                            <div class="professors-content">
                                <h4><a href="teacher-detail.html">jonathan doe</a></h4>
                                <span>assistant lecturer</span>
                                <span>dept of econimics </span>
                                <span>university of educare</span>
                                <!-- professors Social links -->
                                <ul class="professors-social">
                                    <li><a href="3.html"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="3.html"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="3.html"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                                    <li><a href="3.html"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single professors -->
                <div class="col-md-3 col-sm-6">
                    <div class="single-professors">
                        <!-- Professors image -->
                        <div class="cource-img">
                            <img src="{{ asset('Client/img/professors/04.jpg') }}" alt="professors img">
                        </div>
                        <div class="professors-heading">
                            <h4>jonathan doe</h4>
                        </div>
                        <div class="professors-content-table">
                            <div class="professors-content">
                                <h4><a href="teacher-detail.html">jonathan doe</a></h4>
                                <span>assistant lecturer</span>
                                <span>dept of econimics </span>
                                <span>university of educare</span>
                                <!-- professors Social links -->
                                <ul class="professors-social">
                                    <li><a href="3.html"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="3.html"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="3.html"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                                    <li><a href="3.html"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single professors -->
                <div class="col-md-3 col-sm-6">
                    <div class="single-professors">
                        <!-- Professors image -->
                        <div class="cource-img">
                            <img src="{{ asset('Client/img/professors/01.jpg') }}" alt="professors img">
                        </div>
                        <div class="professors-heading">
                            <h4>jonathan doe</h4>
                        </div>
                        <div class="professors-content-table">
                            <div class="professors-content">
                                <h4><a href="teacher-detail.html">jonathan doe</a></h4>
                                <span>assistant lecturer</span>
                                <span>dept of econimics </span>
                                <span>university of educare</span>
                                <!-- professors Social links -->
                                <ul class="professors-social">
                                    <li><a href="3.html"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="3.html"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="3.html"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                                    <li><a href="3.html"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single professors -->
                <div class="col-md-3 col-sm-6">
                    <div class="single-professors">
                        <!-- Professors image -->
                        <div class="cource-img">
                            <img src="{{ asset('Client/img/professors/02.jpg') }}" alt="professors img">
                        </div>
                        <div class="professors-heading">
                            <h4>jonathan doe</h4>
                        </div>
                        <div class="professors-content-table">
                            <div class="professors-content">
                                <h4><a href="teacher-detail.html">jonathan doe</a></h4>
                                <span>assistant lecturer</span>
                                <span>dept of econimics </span>
                                <span>university of educare</span>
                                <!-- professors Social links -->
                                <ul class="professors-social">
                                    <li><a href="3.html"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="3.html"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="3.html"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                                    <li><a href="3.html"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single professors -->
                <div class="col-md-3 col-sm-6">
                    <div class="single-professors">
                        <!-- Professors image -->
                        <div class="cource-img">
                            <img src="{{ asset('Client/img/professors/03.jpg') }}" alt="professors img">
                        </div>
                        <div class="professors-heading">
                            <h4>jonathan doe</h4>
                        </div>
                        <div class="professors-content-table">
                            <div class="professors-content">
                                <h4><a href="teacher-detail.html">jonathan doe</a></h4>
                                <span>assistant lecturer</span>
                                <span>dept of econimics </span>
                                <span>university of educare</span>
                                <!-- professors Social links -->
                                <ul class="professors-social">
                                    <li><a href="3.html"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="3.html"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="3.html"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                                    <li><a href="3.html"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single professors -->
                <div class="col-md-3 col-sm-6">
                    <div class="single-professors">
                        <!-- Professors image -->
                        <div class="cource-img">
                            <img src="{{ asset('Client/img/professors/04.jpg') }}" alt="professors img">
                        </div>
                        <div class="professors-heading">
                            <h4>jonathan doe</h4>
                        </div>
                        <div class="professors-content-table">
                            <div class="professors-content">
                                <h4><a href="teacher-detail.html">jonathan doe</a></h4>
                                <span>assistant lecturer</span>
                                <span>dept of econimics </span>
                                <span>university of educare</span>
                                <!-- professors Social links -->
                                <ul class="professors-social">
                                    <li><a href="3.html"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="3.html"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="3.html"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                                    <li><a href="3.html"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Load more cource -->
            <div class="row">
                <div class="col-md-12">
                    <div class="load-more-professors text-center">
                        <a class="theme-btn hvr-shutter-in-horizontal" href="teachers-one.html">Load more</a>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- // End professors area -->
    <!-- Video Area -->
    <div class="video-area jarallax" style="background-image: url('{{ asset("Client/img/backgrounds/video-bg.jpg") }}');">
        <a class="video-btn hvr-ripple-out" href="https://www.youtube.com/watch?v=z2E2JG4MzsE">
            <i class="fa fa-play" aria-hidden="true"></i>
        </a>
    </div><!-- // End Video Area -->
    <!-- Events area -->
    <div class="events-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Section Title -->
                    <div class="section-title">
                        <h2>Check out our events</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, debitis!</p>
                    </div>
                </div>
            </div>
            <!-- Single events -->
            <div class="row">
                <div class="single-events clearfix">
                    <div class="col-md-5 col-sm-6">
                        <!-- Events Image -->
                        <div class="events-img">
                            <img src="{{ asset('Client/img/events/01.jpg') }}" alt="Events">
                            <div class="event-date">
                                29 November <span class="year">2017</span>
                            </div>
                            <span class="event-img-hvr-one"></span>
                            <span class="event-img-hvr-two"></span>
                            <span class="event-img-hvr-three"></span>
                            <span class="event-img-hvr-four"></span>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-6">
                        <div class="events-text">
                            <h3><a href="event-detail.html">Lorem ipsum dolor sit amet</a></h3>
                            <div class="row">
                                <div class="col-md-3 col-xs-6">
                                    <div class="events-location">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i> New York, USA
                                    </div>
                                </div>
                                <div class="col-md-9 col-xs-6">
                                    <div class="events-time">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i> 6.00PM - 9.00PM
                                    </div>
                                </div>
                            </div>
                            <p>Maecenas nunc tortor, ullamcorper a quam eu, efficitur elementum leo. Aenean ultrices neque nec eros scelerisque, dictum volutpat tellus pulvinar. Maecenas consequat quam justo, vitae dapibus arcu posuere non.</p>
                            <p>pellentesque nec. Proin vitae dui malesuada, suscipit libero non, pretium metus. Quisque volutpat, tellus a iaculis suscipit, dolor libero bibendum dolor, eu tempus massa erat venenatis ligula.</p>
                            <a href="event-detail.html" class="theme-btn hvr-shutter-in-horizontal">Learn more</a>
                            <a class="theme-btn-alt hvr-shutter-in-horizontal" href="#">Apply now</a>
                        </div>
                    </div>
                </div>
            </div><!-- // End Single events -->
            <!-- Single events -->
            <div class="row">
                <div class="single-events clearfix">
                    <div class="col-md-5 col-sm-6">
                        <!-- Events Image -->
                        <div class="events-img">
                            <img src="{{ asset('Client/img/events/01.jpg') }}" alt="Events">
                            <div class="event-date">
                                29 November <span class="year">2017</span>
                            </div>
                            <span class="event-img-hvr-one"></span>
                            <span class="event-img-hvr-two"></span>
                            <span class="event-img-hvr-three"></span>
                            <span class="event-img-hvr-four"></span>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-6">
                        <div class="events-text">
                            <h3><a href="event-detail.html">Lorem ipsum dolor sit amet</a></h3>
                            <div class="row">
                                <div class="col-md-3 col-xs-6">
                                    <div class="events-location">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i> New York, USA
                                    </div>
                                </div>
                                <div class="col-md-9 col-xs-6">
                                    <div class="events-time">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i> 6.00PM - 9.00PM
                                    </div>
                                </div>
                            </div>
                            <p>Maecenas nunc tortor, ullamcorper a quam eu, efficitur elementum leo. Aenean ultrices neque nec eros scelerisque, dictum volutpat tellus pulvinar. Maecenas consequat quam justo, vitae dapibus arcu posuere non.</p>
                            <p>pellentesque nec. Proin vitae dui malesuada, suscipit libero non, pretium metus. Quisque volutpat, tellus a iaculis suscipit, dolor libero bibendum dolor, eu tempus massa erat venenatis ligula.</p>
                            <a href="event-detail.html" class="theme-btn hvr-shutter-in-horizontal">Learn more</a>
                            <a class="theme-btn-alt hvr-shutter-in-horizontal" href="#">Apply now</a>
                        </div>
                    </div>
                </div>
            </div><!-- // End Single events -->
            <!-- Single events -->
            <div class="row">
                <div class="single-events clearfix">
                    <div class="col-md-5 col-sm-6">
                        <!-- Events Image -->
                        <div class="events-img">
                            <img src="{{ asset('Client/img/events/01.jpg') }}" alt="Events">
                            <div class="event-date">
                                29 November <span class="year">2017</span>
                            </div>
                            <span class="event-img-hvr-one"></span>
                            <span class="event-img-hvr-two"></span>
                            <span class="event-img-hvr-three"></span>
                            <span class="event-img-hvr-four"></span>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-6">
                        <div class="events-text">
                            <h3><a href="event-detail.html">Lorem ipsum dolor sit amet</a></h3>
                            <div class="row">
                                <div class="col-md-3 col-xs-6">
                                    <div class="events-location">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i> New York, USA
                                    </div>
                                </div>
                                <div class="col-md-9 col-xs-6">
                                    <div class="events-time">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i> 6.00PM - 9.00PM
                                    </div>
                                </div>
                            </div>
                            <p>Maecenas nunc tortor, ullamcorper a quam eu, efficitur elementum leo. Aenean ultrices neque nec eros scelerisque, dictum volutpat tellus pulvinar. Maecenas consequat quam justo, vitae dapibus arcu posuere non.</p>
                            <p>pellentesque nec. Proin vitae dui malesuada, suscipit libero non, pretium metus. Quisque volutpat, tellus a iaculis suscipit, dolor libero bibendum dolor, eu tempus massa erat venenatis ligula.</p>
                            <a href="event-detail.html" class="theme-btn hvr-shutter-in-horizontal">Learn more</a>
                            <a class="theme-btn-alt hvr-shutter-in-horizontal" href="#">Apply now</a>
                        </div>
                    </div>
                </div>
            </div><!-- // End Single events -->
        </div>
    </div> <!-- // End events area -->
    <!-- Testimonial area -->
    <div class="testimonial-area section-padding jarallax" style="background-image: url('{{ asset("Client/img/backgrounds/testimonial-bg.jpg") }}');">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Section Title -->
                    <div class="section-title">
                        <h2>Témoignages</h2>
                    </div>
                </div>
            </div>
            <!-- All testimonial -->
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="all-testimonial owl-carousel">
                        <!-- Single testimonial -->
                        <div class="single-testimonial">
                            <div class="testimonial-content">
                                <p>L'éxperience qu'on a eu avec les étudiants d'Esprit était toujours satisfaisante, ce qui nous encourage à proposer des offres à travers ce site pour les Espritiens en recherche de PFE</p>
                            </div>
                            <div class="testimonial-img">
                                <img src="{{ asset('Client/img/testimonial/02.jpg') }}" alt="testimonial">
                            </div>
                            <div class="testimonial-info">
                                <h4>Responsable</h4>
                                <p>BIAT</p>
                            </div>
                        </div>
                        <!-- Single testimonial -->
                        <div class="single-testimonial">
                            <div class="testimonial-content">
                                <p>nous sommes toujours interessés par les compétences d'étudiants ESPRIT ce qui nous pousse à partager nos offres sur ce site</p>
                            </div>
                            <div class="testimonial-img">
                                <img src="{{ asset('Client/img/testimonial/03.jpg') }}" alt="testimonial">
                            </div>
                            <div class="testimonial-info">
                                <h4>Responsable</h4>
                                <p>FullStack TN</p>
                            </div>
                        </div>
                        <!-- Single testimonial -->
                        <div class="single-testimonial">
                            <div class="testimonial-content">
                                <p>On a trouvé l'utilisation d'un tel site très utile pour le recrutement des stagiaires pour nos offres </p>
                            </div>
                            <div class="testimonial-img">
                                <img src="{{ asset('Client/img/testimonial/04.jpg') }}" alt="testimonial">
                            </div>
                            <div class="testimonial-info">
                                <h4>Responsable</h4>
                                <p>VERMEG</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- // End All testimonial -->
        </div>
    </div><!-- //End Testimonial area -->
    <!-- Social area -->
    <div class="social-area">
        <div class="container">
            <div class="row">
                <!-- Sibgle socila link -->
                <div class="col-md-3 no-padding">
                    <div class="single-social-link facebook">
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i><span>10k</span> likes</a>
                    </div>
                </div>
                <!-- Sibgle socila link -->
                <div class="col-md-3 no-padding">
                    <div class="single-social-link twitter">
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i><span>5k</span> tweets</a>
                    </div>
                </div>
                <!-- Sibgle socila link -->
                <div class="col-md-3 no-padding">
                    <div class="single-social-link google-plus">
                        <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i><span>3k</span> +1</a>
                    </div>
                </div>
                <!-- Sibgle socila link -->
                <div class="col-md-3 no-padding">
                    <div class="single-social-link pinterest">
                        <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i><span>4k</span> pin</a>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- // End Social area -->
    <script src="{{ asset('Client/js/jqueryf.js') }}"></script>
    <script src="{{ asset('Client/js/sweetalert2.all.min.js') }}"></script>


    <script type="text/javascript">
        $(function() {
            //$.bootstrapGrowl("This is a test.");

          /* setTimeout(function() {
                $.bootstrapGrowl("This is another test.",
                    { type: 'success' });
            }, 1000);*/

            /* setTimeout(function() {
                 $.bootstrapGrowl("Danger, Danger!", {
                     type: 'danger',
                     align: 'center',
                     width: 'auto',
                     allow_dismiss: false
                 });
             }, 2000);

             setTimeout(function() {
                 $.bootstrapGrowl("Danger, Danger!", {
                     type: 'info',
                     align: 'left',
                     stackup_spacing: 30
                 });
             }, 3000);*/
        });
        function archiveFunction() {
 var reponse="";
            swal({
                    title: "Etes vous sure?",
                    text: "Voulez vous vraiment postuler pour cet offre de stage?",
                    type: "success",
                    showCancelButton: true,
                    confirmButtonColor: "#28dd44",
                    cancelButtonColor:"#dd560e",
                    confirmButtonText: " Oui, postuler !",
                    cancelButtonText: "non abondonner!",
                }).then(
                function(isConfirm){
                    if (isConfirm) {
                        obj = new Object();
                        obj["idOffre"]=1;
                        $.ajax({
                            type: "POST",
                            url: "{{ path('_postuler') }}",
                            data: obj,
                            dataType: "json",
                            success: function (response)
                            {

                            }



                        });

                        if (reponse=="Remplissez Votre Cv avant de postuler !"){

                            swal({
                                type: 'error',
                                title: 'Oops...',
                                text: 'Something went wrong!',
                                footer: '<a href>Why do I have this issue?</a>',
                            })
                        }
                        else{
                            $.bootstrapGrowl("Poustler avec success", { type: 'success' });
                            $('#postuler').prop('disabled',true);
                        }

                    }
                    else {
                        console.log('Cancel mission of postulation !!')
                        swal("Cancelled", "Your imaginary file is safe :)", "error");
                    }
                });
        }
        $(document).ready(function () {
            $('#postuler').on('click',function () {


            });

        });
    </script>
{% endblock body %}